// Custom Fonts

@font-face {
	font-family: "Sailec";
	src: url("../fonts/Sailec.otf") format("otf"),
		url("../fonts/Sailec.woff") format("woff");
}

@font-face {
	font-family: "Sailec Bold";
	src: url("../fonts/SailecBold.otf") format("otf"),
		url("../fonts/SailecBold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "Sailec Light";
	src: url("../fonts/SailecLight.otf") format("otf"),
		url("../fonts/SailecLight.woff") format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "Sailec Light Italic";
	src: url("../fonts/SailecLightItalic.otf") format("otf"),
		url("../fonts/SailecLightItalic.otf") format("otf");
	font-style: italic;
	font-weight: 100;
}

@font-face {
	font-family: "Sailec Medium";
	src: url("../fonts/SailecMedium.otf") format("otf"),
		url("../fonts/SailecMedium.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Sailec Medium Italic";
	src: url("../fonts/SailecMediumItalic.otf") format("otf"),
		url("../fonts/SailecMediumItalic.woff") format("woff");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Sailec Italic";
	src: url("../fonts/SailecRegularItalic.otf") format("otf"),
		url("../fonts/SailecRegularItalic.woff") format("woff");
	font-style: italic;
}
